# Configurações de credenciais para conexão com o Supabase
# Renomeie este arquivo para apenas ".env" e preencha com suas chaves:

VITE_SUPABASE_URL=https://sua-url-do-projeto.supabase.co
VITE_SUPABASE_ANON_KEY=sua-chave-anon-public-aqui
